html,
html::before,
html::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at center,
    rgba(32, 61, 227, 1) 0%,
    rgba(10, 38, 69, 1) 100%
  );
}
